.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 272px;
	height: 200px;
}

.image {
	width: 240px;
	height: 120px;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 24px;
}

.name {
	text-align: center;
	width: 100%;
	height: 48px;
}

.details {
	display: flex;
	justify-content: space-between;
	width: 640px;
	height: 64px;
}

.modalImage{
	width: 480px;
	height: 240px;
}

.composition {
	width: 540px;
	height: 56px;
	display: flex;
	justify-content: space-between;
	color: #8585AD;
}

.compositionItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}