.feed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.orders {
    width: 610px;
}

.scroll {
    width: 610px;
    height: 712px;
    overflow-y: scroll;
	overflow-x:hidden;
}

.scroll::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    height: 400px;
}

.scroll::-webkit-scrollbar-track {
	height: 100px;
}

.table {
    width: 610px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 580px;
    height: 300px;
    display: flex;
}

.ready {
    width: 272px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.ready_list {
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.header {
    height: 30px;
    width: 272px;
}

.number {
    color: #00CCCC;
}
.done {
    height: 30px;
    width: 584px;
}

.amount {
    width: 584px;
    height: 120px;
}

.link {
	display: flex;
	text-decoration: none;
	color:#F2F2F3;
	flex-direction: column;
	align-items: center;
}

