.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 640px;
	height: 575px;
}

.modalImage{
	width: 480px;
	height: 240px;
}

.composition {
	width: 540px;
	height: 56px;
	display: flex;
	justify-content: space-between;
	color: #8585AD;
}

.compositionItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}