.header {
	width: 100%;
	height: 88px;
	background-color: #1C1C21;
	display:  flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 101;
}

.container {
	width: 1280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.container a {
	text-decoration: none;
}

.burger {
	display:  flex;
}

.list {
	display:  flex;
	flex-grow: 4;
}

.profile {
	display:  flex;
}

.logo {
	display:  flex;
	flex-grow: 9;
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	/* color:#8585AD; */
	align-items: center;
}

/* .link:hover {
	color:#F2F2F3;
} */

.textActive {
	color:#F2F2F3;
}

.text {
	color:#8585AD;
}

.text:hover {
	color:#F2F2F3;
}